/*
Backend template custom CSS
Date: 1 July, 2022
Sajib Sarker
*/
/* ===== Global css customizations ===== */
.content-wrapper {
    background-color: #fff;
}
.apple__radius {
    border-radius: 0.5rem;
}

.alert {
    border: none;
}

.toast-body {
    background-color: #fff;
}

/* ===== Global css customizations ===== */
/* ===== Select 2 customizations ===== */
/* Select2 custom styles  */
.select2-container--bootstrap4 .select2-selection {
    background-color: #fff;
    border: 1px solid #505050;
    border-radius: 8px;
}
.select2-container--bootstrap4
    .select2-selection--multiple
    .select2-selection__choice {
    background-color: #339966;
    color: #fff;
}

/* ===== Select 2 customizations ===== */
/* ===== Main menu customizations ===== */
/* Menu custom style  */
.menu__custom .nav-link.active {
    background-color: #fff !important;
    color: #242424 !important;
    border-radius: 8px;
    font-weight: 600;
}
/* ===== Main menu customizations ===== */
/* ===== Card modification ===== */
.custom__card--one {
    background-color: #fff;
    border-top: 2px solid #001f3f;
    border-bottom: 2px solid #001f3f;
    border-radius: 8px;
}
.custom__card--datatable {
    background-color: #fff;
    border-top: 2px solid #001f3f;
    border-bottom: 2px solid #001f3f;
    border-radius: 8px;
    padding: 20px 15px;
}
.custom__card--datatable .page-item.active .page-link {
    background-color: #001f3f;
    border-color: #001f3f;
}
.custom__card__px--olive {
    background-color: #fff;
    border-top: 2px solid #339966;
    border-bottom: 2px solid #339966;
    border-radius: 8px;
}
.custom__card__px--medical {
    background-color: #fff;
    border-top: 2px solid #56b4e9;
    border-bottom: 2px solid #56b4e9;
    border-radius: 8px;
}

/* ===== Card modification ===== */
/* ===== Background customizations ===== */

/* Solid background colors  */

.bg__hot__pink {
    background-color: #ff0081;
    color: #fff;
}

.bg__dark__blue {
    background-color: #34495e;
    color: #fff;
}

.bg__deep__purple {
    background-color: #56468b;
    color: #fff;
}

.bg__purple {
    background-color: #800080;
    color: #fff;
}

.bg__deep__orange {
    background-color: #ef5a0b;
    color: #fff;
}

.bg__deep__red {
    background-color: #e21b41;
    color: #fff;
}

.bg__deep__primary {
    background-color: #2421da;
    color: #fff;
}

.bg__deep__warning {
    background-color: #ff6d4d;
    color: #fff;
}
.bg__deep__dark {
    background-color: #000000;
    color: #fff;
}

/* Gradient background color   */

.bgg__roseanna {
    background: rgb(255, 175, 189);
    background: linear-gradient(
        90deg,
        rgba(255, 175, 189, 1) 31%,
        rgba(255, 195, 160, 1) 100%
    );
    color: #000;
}

.bgg__sexy__blue {
    background: rgb(33, 147, 176);
    background: linear-gradient(
        90deg,
        rgba(33, 147, 176, 1) 31%,
        rgba(109, 213, 237, 1) 100%
    );
    color: #fff;
}

.bgg__purple__love {
    background: rgb(204, 43, 94);
    background: linear-gradient(
        90deg,
        rgba(204, 43, 94, 1) 31%,
        rgba(117, 58, 136, 1) 100%
    );
    color: #fff;
}

.bgg__piglet {
    background: rgb(238, 156, 167);
    background: linear-gradient(
        90deg,
        rgba(238, 156, 167, 1) 31%,
        rgba(255, 221, 225, 1) 100%
    );
    color: #000;
}

.bgg__mauve {
    background: rgb(66, 39, 90);
    background: linear-gradient(
        90deg,
        rgba(66, 39, 90, 1) 31%,
        rgba(115, 75, 109, 1) 100%
    );
    color: #fff;
}

.bgg__socialive {
    background: rgb(6, 190, 182);
    background: linear-gradient(
        90deg,
        rgba(6, 190, 182, 1) 31%,
        rgba(72, 177, 191, 1) 100%
    );
    color: #fff;
}

.bgg__kashmir {
    background: rgb(97, 67, 133);
    background: linear-gradient(
        90deg,
        rgba(97, 67, 133, 1) 31%,
        rgba(81, 99, 149, 1) 100%
    );
    color: #fff;
}

.bgg__frost {
    background: rgb(0, 4, 40);
    background: linear-gradient(
        90deg,
        rgba(0, 4, 40, 1) 31%,
        rgba(0, 78, 146, 1) 100%
    );
    color: #fff;
}

.bgg__scooter {
    background: rgb(54, 209, 220);
    background: linear-gradient(
        90deg,
        rgba(54, 209, 220, 1) 31%,
        rgba(91, 134, 229, 1) 100%
    );
    color: #fff;
}

.bgg__royal {
    background: rgb(20, 30, 48);
    background: linear-gradient(
        90deg,
        rgba(20, 30, 48, 1) 31%,
        rgba(36, 59, 85, 1) 100%
    );
    color: #fff;
}

.bgg__aubergine {
    background: rgb(170, 7, 107);
    background: linear-gradient(
        90deg,
        rgba(170, 7, 107, 1) 31%,
        rgba(97, 4, 95, 1) 100%
    );
    color: #fff;
}

.bgg__orange__coral {
    background: rgb(255, 153, 102);
    background: linear-gradient(
        90deg,
        rgba(255, 153, 102, 1) 31%,
        rgba(255, 94, 98, 1) 100%
    );
    color: #fff;
}
/* ===== Background customizations ===== */
/* ===== AdminLTE button modifications ===== */

/* Static button  */
.custom__button {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.5rem;
}

.custom__button__flat {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0rem;
}

.custom__button__round {
    display: inline-block;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    padding: 1rem;
    border-radius: 50%;
}

.custom__group__button .btn {
    border-radius: 0.5rem;
}

.custom__group__button .dropdown-menu.show {
    border-radius: 0.5rem;
    padding: 3px;
    background-color: #000;
}

.custom__group__button .dropdown-menu .dropdown-item {
    padding: 8px 10px;
    text-align: center;
}

.custom__badges {
    border-radius: 0.5rem;
    padding: 10px 20px;
    border: 1px solid #fff;
}

.btn__olive {
    background-color: #339966;
    color: #fff;
}
.btn__olive:hover {
    background-color: #30916e;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.btn__navy {
    background-color: #001f3f;
    color: #fff;
}

.btn__navy:hover {
    background-color: #001f3f;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.btn__hot__pink {
    background-color: #ff0081;
    color: #fff;
}

.btn__hot__pink:hover {
    background-color: #e60074;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.btn__black {
    background-color: #000;
    color: #fff;
}

.btn__black:hover {
    background-color: #161616;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.btn__dark__blue {
    background-color: #34495e;
    color: #fff;
}

.btn__dark__blue:hover {
    background-color: #2f4255;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.btn__deep__blue {
    background-color: #246da7;
    color: #fff;
}

.btn__deep__blue:hover {
    background-color: #206296;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.btn__deep__purple {
    background-color: #56468b;
    color: #fff;
}

.btn__deep__purple:hover {
    background-color: #4d3f7d;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.btn__purple {
    background-color: #800080;
    color: #fff;
}

.btn__purple:hover {
    background-color: #730073;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.btn__sky__blue {
    background-color: #2499ff;
    color: #fff;
}

.btn__sky__blue:hover {
    background-color: #208ae6;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.btn__deep__orange {
    background-color: #ef5a0b;
    color: #fff;
}

.btn__deep__orange:hover {
    background-color: #d7510a;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.btn__deep__red {
    background-color: #e21b41;
    color: #fff;
}

.btn__deep__red:hover {
    background-color: #cb183a;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.btn__deep__primary {
    background-color: #2421da;
    color: #fff;
}

.btn__deep__primary:hover {
    background-color: #201ec4;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.btn__deep__warning {
    background-color: #ff6d4d;
    color: #fff;
}

.btn__deep__warning:hover {
    background-color: #e66245;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

/* Outlined Flat Buttons  */

.btn__olive__outline {
    background-color: #fff;
    color: #339966;
    font-weight: 400;
    border: 1px solid #339966;
}

.btn__olive__outline:hover {
    background-color: #30916e;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.btn__navy__outline {
    background-color: #fff;
    color: #001f3f;
    font-weight: 400;
    border: 1px solid #001f3f;
}

.btn__navy__outline:hover {
    background-color: #001f3f;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.btn__hot__pink__outline {
    background-color: #fff;
    color: #ff0081;
    font-weight: 400;
    border: 1px solid #ff0081;
}

.btn__hot__pink__outline:hover {
    background-color: #e60074;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.btn__black__outline {
    background-color: #fff;
    color: #000;
    font-weight: 400;
    border: 1px solid #000;
}

.btn__black__outline:hover {
    background-color: #161616;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.btn__dark__blue__outline {
    background-color: #fff;
    color: #34495e;
    font-weight: 400;
    border: 1px solid #34495e;
}

.btn__dark__blue__outline:hover {
    background-color: #2f4255;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.btn__deep__blue__outline {
    background-color: #fff;
    color: #246da7;
    font-weight: 400;
    border: 1px solid #246da7;
}

.btn__deep__blue__outline:hover {
    background-color: #206296;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.btn__deep__purple__outline {
    background-color: #fff;
    color: #56468b;
    font-weight: 400;
    border: 1px solid #56468b;
}

.btn__deep__purple__outline:hover {
    background-color: #4d3f7d;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.btn__purple__outline {
    background-color: #fff;
    color: #800080;
    font-weight: 400;
    border: 1px solid #800080;
}

.btn__purple__outline:hover {
    background-color: #730073;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.btn__sky__blue__outline {
    background-color: #fff;
    color: #2499ff;
    font-weight: 400;
    border: 1px solid #2499ff;
}

.btn__sky__blue__outline:hover {
    background-color: #208ae6;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.btn__deep__orange__outline {
    background-color: #fff;
    color: #ef5a0b;
    font-weight: 400;
    border: 1px solid #ef5a0b;
}

.btn__deep__orange__outline:hover {
    background-color: #d7510a;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.btn__deep__red__outline {
    background-color: #fff;
    color: #e21b41;
    font-weight: 400;
    border: 1px solid #e21b41;
}

.btn__deep__red__outline:hover {
    background-color: #cb183a;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.btn__deep__primary__outline {
    background-color: #fff;
    color: #2421da;
    font-weight: 400;
    border: 1px solid #2421da;
}

.btn__deep__primary__outline:hover {
    background-color: #201ec4;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.btn__deep__warning__outline {
    background-color: #fff;
    color: #ff6d4d;
    font-weight: 400;
    border: 1px solid #ff6d4d;
}

.btn__deep__warning__outline:hover {
    background-color: #e66245;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

/* ===== AdminLTE button modifications ===== */
/* ===== AdminLTE table modifications ===== */
.custom__table--one {
    background-color: #fff;
    border-top: 1px solid #001f3f;
}
.custom__table--two {
}
/* ===== AdminLTE table modifications ===== */
/* ===== AdminLTE form modifications ===== */
.custom__form--one {
    background-color: #fff;
}
.custom__form--one .form-control {
    background-color: #fff;
    border: 1px solid #505050;
    border-radius: 8px;
}
.custom__form--one .form-control:focus {
    box-shadow: 1px 1px 3px 0px #707070;
    border: 1px solid #80bdff;
}
/* ===== AdminLTE form modifications ===== */
/* ===== Modal modifications ===== */
/* Custom modal one  */
.custom__modal__one {
    border: 3px solid transparent;
    border-image: linear-gradient(
        45deg,
        rgba(20, 30, 48, 1),
        rgba(36, 59, 85, 1)
    );
    border-image-slice: 1;
}
.custom__modal__one .modal-header {
    padding: 12px 16px;
    border-radius: 8px;
}
.custom__modal__one .modal-content {
    border-radius: 8px;
}
.custom__modal__one .modal-body {
    border-bottom: 1px solid #001f3f;
}
.custom__modal__one .modal-footer {
    padding: 12px 16px;
    border-radius: 8px;
}

/* Custom modal two  */
.custom__modal__two {
    border: 1px solid transparent;
}
.custom__modal__two .modal-header {
    padding: 12px 16px;
    border-radius: 8px;
}
.custom__modal__two .modal-content {
    border-radius: 8px;
}
.custom__modal__two .modal-footer {
    padding: 12px 16px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
/* Custom modal flat  */
.custom__modal__flat {
    border: 3px solid transparent;
    border-image: linear-gradient(
        45deg,
        rgba(20, 30, 48, 1),
        rgba(36, 59, 85, 1)
    );
    border-image-slice: 1;
}
.custom__modal__flat .modal-header {
    padding: 12px 16px;
    border-radius: 0;
}
.custom__modal__flat .modal-content {
    border-radius: 0;
}
.custom__modal__flat .modal-body {
    border-bottom: 1px solid #001f3f;
}
.custom__modal__flat .modal-footer {
    padding: 12px 16px;
    border-radius: 0;
}
.nav-sidebar > .nav-item .nav-icon__image {
    font-size: 1.2rem;
    margin-right: 0.2rem;
    text-align: center;
    width: 2rem;
}

.session__alert__show__success {
    position: absolute;
    top: 3%;
    left: 40%;
    background: #2499ff;
    font-size: 22px;
    padding: 10px 35px;
    border-radius: 12px;
}
.session__alert__show__error {
    position: absolute;
    top: 3%;
    left: 40%;
    background: #ff0000;
    font-size: 22px;
    padding: 10px 35px;
    border-radius: 12px;
}
/* ===== Modal modifications ===== */
